.wrapp {
    background: #333;
    width: 22px;
    height: 22px;
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 0.8;
    }
}